@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');
:root {
    --glass-bg-card: rgba(255, 255, 255, 0.2);
    --glass-border: rgba(255, 255, 255, 0.5);
    
    --text-dark: #1e293b;
    --text-light: #f8fafc; 
    
    --primary-color: #2563eb;  
    --secondary-color: #0d9488; 

    --shadow-light: rgba(0, 0, 0, 0.08);
    --shadow-medium: rgba(0, 0, 0, 0.15);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: linear-gradient(-30deg, #89d6ff 30%, #ececec 100%);
    color: var(--text-dark);
}

.glass-effect {
    backdrop-filter: blur(12px);     
    border-radius: 18px; 
    border: 1px solid var(--glass-border); 
    box-shadow: 0 8px 32px var(--shadow-light); 
}

.login-container {
    z-index: 1;
    display: flex;
    justify-content: center; 
    align-items: center;    
    height: 100vh;          
    width: 100%;
    padding: 20px;
}

.login-card {
    width: 100%;
    max-width: 450px;
    padding: 40px;
    text-align: center;
}

.login-header {
    margin-bottom: 30px;
}

.login-header i {
    font-size: 2.5rem;
    color: var(--primary-color);
    margin-bottom: 15px;
}

.login-header h2 {
    font-size: 1.5rem;
    color: var(--text-dark);
    margin-bottom: 10px;
}

.input-group {
    text-align: left;
    margin-bottom: 20px;
}

.input-group label {
    display: block;
    margin-bottom: 8px;
    font-weight: 500;
    color: var(--text-dark);
}

.input-group input {
    width: 100%;
    padding: 10px 10px;
    border: 1px solid rgba(255, 255, 255, 0.7);
    border-radius: 15px;
    background: rgba(255, 255, 255, 0.4); 
    color: var(--text-dark);
    transition: all 1s ease;
}


.input-group input:focus {
    outline: none;
    border-color: var(--primary-color);
    background: rgba(255, 255, 255, 0.8); 
    box-shadow: 0 0 0 3px rgba(37, 99, 235, 0.2);
}

.btn-block {
    width: 100%;
    padding: 12px;
    font-size: 1.2rem;
    font-weight: 600;
    background: var(--primary-color);
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: background 0.3s ease;
}

.btn-block:hover {
    background: #1e52d3;
}

.login-footer {
    margin-top: 25px;
    font-size: 0.9rem;
}

.login-footer a {
    color: var(--text-light);
    text-decoration: none;
}

.login-footer a:hover {
    text-decoration: underline;
    color: var(--primary-color);
}